<?xml version='1.0' encoding='utf-8'?>
<widget id="com.juanan.remoteGallery" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Remote Gallery</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios" />
    <platform name="android" />
    <platform name="winphone" />
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="windows-phone-target-version" value="10.0" />
    <preference name="Windows.Mobile" value="10.0.10240.0" />
    <preference name="Windows.Mobile-MaxVersionTested" value="10.0.14393.1066" /> 
</widget>
